*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.NavBar{
	position: sticky;
	top: 0px;
}
.porto{
	width: 80%;
	margin: 50px;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 30px;
}
.wrapper img {
	width: 100%;
	cursor: pointer;
	transition: 1s ease;
}
.wrapper img:hover {
	transform: scale(0.9);
}